{% block navbar %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/theme/adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            {% for model_item in models_list|keys %}
                {% if models_list[model_item]['schema']['visible_in_navbar'] is null or models_list[model_item]['schema']['visible_in_navbar'] == true %}

                    {% if models_list[model_item].schema is not null and models_list[model_item].schema.nice_name is not null %}
                        {% set model_name =  models_list[model_item].schema.nice_name %}
                    {% else %}
                        {% set model_name =  model_item %}
                    {% endif %}

                    <li {% if model_item == model %}class="active"{% endif %}>
                        <a href="/{{ backoffice_folder }}/{{ model_item }}">
                            <i class="fa fa-{{ models_list[model_item].schema.icon }}"></i>
                            <span>{{ model_name }}</span>
                        </a>

                {% endif %}

            {% endfor %}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
{% endblock %}