{% block navbar %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/theme/adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            {% for entity in entities_list|keys %}
                {% if entities_list[entity]['schema']['visible_in_navbar'] is null or entities_list[entity]['schema']['visible_in_navbar'] == true %}

                    {% if entities_list[entity].schema is not null and entities_list[entity].schema.nice_name is not null %}
                        {% set model_name =  entities_list[entity].schema.nice_name %}
                    {% else %}
                        {% set model_name =  entity %}
                    {% endif %}

                    <li {% if entity == model %}class="active"{% endif %}>
                        <a href="/{{ entity }}">
                            <i class="fa fa-{{ entities_list[entity].schema.icon }}"></i>
                            <span>{{ model_name }}</span>
                        </a>

                {% endif %}

            {% endfor %}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
{% endblock %}