{% extends 'layout.twig' %}

{% set form_action = '/' ~ entity ~ '/edit/' ~ data[0].uuid %}

{% if entities_list[entity]['schema']|length > 0 %}
    {% set entity_schema = entities_list[entity]['schema'] %}
{% else %}
    {% set entity_schema = null %}
{% endif %}

{% if entity_schema is not null and entity_schema.nice_name is not null %}
    {% set entity_nice_name = entity_schema.nice_name %}
{% else %}
    {% set entity_nice_name = entity %}
{% endif %}

{% block contents %}

    <section class="content-header">
        <h1>{{ entity_nice_name }} :: {{ locale[action] }}</h1>
    </section>

    <section class="content">
    <div id="detail-actions">
    {#
        {% include views.detail_actions
        with {
            'data': data[0],
            'entity_constants': entities_metadata[entity]
        }
    %}
    #}
    </div>

    {% for content in data[0]['original_data']  %}
        {% for key, value in content %}
            <input type="hidden" value="{{ value }}" />
        {% endfor %}
    {% endfor %}

    {% include 'twig_partials/detail/form.twig'
            with {
                    'form_action': form_action,
                    'data': data[0],
                    'entities': entities_list,
                    'entity_name': entity,
                    'editable_referenced_entities_contents': editable_referenced_entities_contents
            }
    %}

    {% if entities_list[entity]['related_entities']|length > 0 %}
        <section id="referenced-entities">
            <hr>
            <h3>Referenced Data</h3>
            {% include 'twig_partials/detail/referenced_entities.twig' with {
                'relations_data': data[0]['relations'],
                'entities': entities_list,
                'related_entities': entities_list[entity]['related_entities'],
                'schema': schema,
                'parent_entity': entity,
                'parent_id': data[0].id
                }
            %}
        </section>
    {% endif %}

    <div style="height:50px"></div>
    </section>

<script>
$(document).ready(function() {
    $('.copy_to_clipboard').on('click', function() {
       var element_to_be_copied = $($(this).siblings('span')[0]).html();
        if(element_to_be_copied == '')
        {
            alert('No value copied');
            element_to_be_copied = 'N/A';
        }
        const el = document.createElement('textarea');
        el.value = element_to_be_copied;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);

        $($(this).closest('tr')[0]).css('background-color', '#DDD');

    });

})

</script>
{% endblock %}