{% extends 'layout.twig' %}

{% set form_action = '/' ~ entity ~ '/create' %}

{% if entities_list[entity]['schema']|length > 0 %}
    {% set entity_schema = entities_list[entity]['schema'] %}
{% else %}
    {% set entity_schema = null %}
{% endif %}

{% if entity_schema is not null and entity_schema.nice_name is not null %}
    {% set entity_nice_name = entity_schema.nice_name %}
{% else %}
    {% set entity_nice_name = entity %}
{% endif %}

{% if data[0] is defined %}
    {% set data = data[0] %}
{% else %}
    {% set data = [] %}
{% endif %}

{% block contents %}

    <section class="content-header">
        <h1>{{ entity_nice_name }} :: {{ locale[action] }}</h1>
    </section>

    <section class="content">
        <div id="detail-actions">
        {#
            {% include views.detail_actions
            with {
                'data': data[0],
                'entity_constants': entities_metadata[entity]
            }
        %}
        #}
        </div>


        {% include 'twig_partials/detail/form.twig'
            with {
                'form_action': form_action,
                'data': data,
                'entities': entities_list,
                'entity_name': entity,
                'referenced_entities_contents': referenced_entities_contents
            }
        %}
    </section>

{% endblock %}